@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.mainContainer{
    width: 100%;
    color: antiquewhite;
    background-color: #000;
}
.mainContainer .furnitureHero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url("../images/Furniture-Img/furniture-hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContainer .furnitureHero h3{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #06b453;
    margin-bottom: 40px;
}
.mainContainer .furnitureHero p{
    width: 80%;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    margin: 10px 0px;
}
.mainContainer .products{
    width: 85%;
    margin: 0px auto;
    padding: 100px 0px;
}
.mainContainer .products .chairFurniture{
    width: 100%;
    margin: 100px 0px;
}
.mainContainer .products .chairFurniture h3{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #06b453;
    margin: 0px 0px 50px 20px;
}
.mainContainer .products .chairFurniture .chairs{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.products .chairFurniture .chairs .chair{
    width: 16%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #06b453;
}
.products .chairFurniture .chairs .chair .chairImg{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.products .chairFurniture .chairs .chair .chairImg img{
    width: 100%;
    /* object-fit: contain; */
    
    transition: all 0.2s ease-in;
}
.products .chairFurniture .chairs .chair .chairImg:hover img{
    transform: scale(1.2,1.2);
}
.products .chairFurniture .chairs .chair p{
    margin: 0px 10px;
}
.products .chairFurniture .chairs .chair .chairTitle{
    font-size: 1.1rem;
    color: antiquewhite;
    margin-bottom: 10px;
}
.products .chairFurniture .chairs .chair .chairDesc{
    font-size: 0.8rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}
.products .chairFurniture .chairs .chair .chairBtn{
    text-align: center;
}
.products .chairFurniture .chairs .chair .chairBtn button{
    padding: 7px 10px;
    outline: none;
    border: none;
    font-size: 0.9rem;
    background: #06b453;
    color: antiquewhite;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.products .chairFurniture .chairs .chair .chairBtn button:hover{
    outline: 1px solid #06b453;
    background: transparent;
    color: #06b453;
}



/* Footer Section */
.mainContainer .footerContainer{
    width: 100%;
    padding: 150px 0px 0px 0px;
    background: #0c090a;
}
.footerContainer .footer{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.footerContainer .footer .quick{
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footerContainer .footer .quick h1{
    font-size: 1.3rem;
    color: #06b453;
    margin-bottom: 20px;
}
.footerContainer .footer .quick .footerLinks{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-bottom: 10px;
    transition: all 0.2s ease-in;
}
.footerContainer .footer .quick .footerLinks:hover{
    color: #06b453;
}
.footerContainer .footer .quick .iconNav{
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
.footerContainer .footer .quick .iconNav .iconFacebookk{
    transition: all 0.2s ease-in;
}
.footerContainer .footer .quick .iconNav .iconFacebookk:hover{
    color: #1877F2;
}
.footerContainer .footer .quick .iconNav .iconInstagram{
    transition: all 0.2s ease-in;
}
.footerContainer .footer .quick .iconNav .iconInstagram:hover{
    color: rgb(214,41,118);
}
.footerContainer .footer .quick .iconNav .iconLinkedIn{
    transition: all 0.2s ease-in;
}
.footerContainer .footer .quick .iconNav .iconLinkedIn:hover{
    color: #0077B5;
}
.footerContainer .footer .quick .iconNav .iconTwitter{
    transition: all 0.2s ease-in;
}
.footerContainer .footer .quick .iconNav .iconTwitter:hover{
    color: #1DA1F2;
}
.footerContainer .footer .quick .iconNav .iconYoutube{
    transition: all 0.2s ease-in;
}
.footerContainer .footer .quick .iconNav .iconYoutube:hover{
    color: #FF0000;
}
.footerContainer .footer .quick .iconNav .iconWhatsapp{
    transition: all 0.2s ease-in;
}
.footerContainer .footer .quick .iconNav .iconWhatsapp:hover{
    color: #25D366;
}
.footerContainer .footer .quick .newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer .footer .quick .newsletter input{
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
}
.footerContainer .footer .quick .newsletter button{
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    background: #06b453;
    color: antiquewhite;
}
.footerContainer .reserved{
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    padding: 70px 0px 20px;
}





/* Media Queries */
@media (max-width: 900px){
    
    
    /* Hero Section */
    .mainContainer{
        width: 100%;
    }
    .mainContainer .furnitureHero{
        width: 100%;
    }
    .mainContainer .furnitureHero p{
        font-size: 3rem;
    }

    /* Furniture Section */
    .mainContainer .products{
        width: 100%;
    }
    .products .chairFurniture{
        width: 100%;
    }
    .products .chairFurniture .chairs{
        width: 100%;
        display: grid !important;
        grid-template-columns: 3fr 3fr 3fr !important;
    }
    .products .chairFurniture .chairs .chair{
        width: 90%;
        margin: 10px;
    }

    /* Footer */
    .mainContainer .footerContainer{
        width: 100%;
    }
    .footerContainer .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footerContainer .footer .quick{
        width: 40%;
        margin: 20px;
    }

}

@media (max-width:600px){
    
    
    /* Hero Section */
    .mainContainer{
        width: 100%;
    }
    .mainContainer .furnitureHero{
        width: 100%;
    }
    .mainContainer .furnitureHero p{
        font-size: 2rem;
    }

    /* Furniture Section */
    .mainContainer{
        width: 100%;
    }
    .chairFurniture{
        width: 100%;
    }
    .mainContainer .products .chairFurniture .chairs{
        width: 100%;
        text-align: center;
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .mainContainer .products .chairFurniture .chairs .chair .chairDesc{
        font-size: 15px;
    }

    /* Footer Section */
    .mainContainer .footerContainer{
        width: 100%;
    }
    .mainContainer .footerContainer .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



}